USE [master]
GO
/****** Object:  Database [QuizlyDB]    Script Date: 12/7/2025 1:01:42 PM ******/
CREATE DATABASE [QuizlyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizlyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuizlyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizlyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuizlyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizlyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizlyDB]
GO
/****** Object:  Table [dbo].[tb_Blogs]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Slug] [nvarchar](300) NULL,
	[Thumbnail] [nvarchar](500) NULL,
	[Summary] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsPublished] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Categories]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Courses]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[IsApproved] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsPaid] [bit] NULL,
	[FreeLessonCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ExamResultDetails]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ExamResultDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamResultId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[SelectedOption] [char](1) NULL,
	[IsCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ExamResults]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ExamResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[SessionId] [int] NULL,
	[Score] [decimal](5, 2) NULL,
	[CorrectAnswers] [int] NULL,
	[TotalQuestions] [int] NULL,
	[StartedAt] [datetime2](7) NULL,
	[FinishedAt] [datetime2](7) NULL,
	[Status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ExamReviews]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ExamReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](800) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserExamReview] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Exams]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Difficulty] [nvarchar](20) NULL,
	[Duration] [int] NOT NULL,
	[QuestionCount] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[IsPremium] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[AvgRating] [float] NULL,
	[TotalReviews] [int] NULL,
	[CreatedBy] [int] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[IsPaid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ExamSessions]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ExamSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[SessionToken] [uniqueidentifier] NULL,
	[StartedAt] [datetime2](7) NULL,
	[LastHeartbeat] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
	[AppliedPenalty] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ExamViolations]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ExamViolations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[ViolationType] [nvarchar](50) NULL,
	[ViolationTime] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LessonProgress]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LessonProgress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[IsCompleted] [bit] NULL,
	[CompletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Lessons]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Lessons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NULL,
	[IsApproved] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsPreview] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_MembershipPlans]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_MembershipPlans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[DurationDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Menus]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[ParentId] [int] NULL,
	[Order] [int] NULL,
	[Location] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Payments]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ExamId] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Currency] [nvarchar](10) NULL,
	[Provider] [nvarchar](50) NULL,
	[ProviderTransId] [nvarchar](150) NULL,
	[Status] [nvarchar](30) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PenaltyRules]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PenaltyRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NULL,
	[Reason] [nvarchar](100) NULL,
	[PenaltyPercent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Questions]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](500) NOT NULL,
	[OptionB] [nvarchar](500) NOT NULL,
	[OptionC] [nvarchar](500) NOT NULL,
	[OptionD] [nvarchar](500) NOT NULL,
	[CorrectOption] [char](1) NULL,
	[Marks] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Subjects]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_UserMemberships]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UserMemberships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_UserPurchases]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UserPurchases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[PurchasedAt] [datetime2](7) NULL,
	[ExpiredAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Users]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Role] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_UserSubscriptions]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UserSubscriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PlanType] [nvarchar](30) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_UserXP]    Script Date: 12/7/2025 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UserXP](
	[UserId] [int] NOT NULL,
	[XP] [int] NULL,
	[Level] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_CreatedBy]    Script Date: 12/7/2025 1:01:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_Courses_CreatedBy] ON [dbo].[tb_Courses]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_IsApproved]    Script Date: 12/7/2025 1:01:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_Courses_IsApproved] ON [dbo].[tb_Courses]
(
	[IsApproved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exams_CreatedBy]    Script Date: 12/7/2025 1:01:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_Exams_CreatedBy] ON [dbo].[tb_Exams]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exams_IsApproved]    Script Date: 12/7/2025 1:01:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_Exams_IsApproved] ON [dbo].[tb_Exams]
(
	[IsApproved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonProgress_LessonId]    Script Date: 12/7/2025 1:01:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_LessonProgress_LessonId] ON [dbo].[tb_LessonProgress]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonProgress_UserId]    Script Date: 12/7/2025 1:01:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_LessonProgress_UserId] ON [dbo].[tb_LessonProgress]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_CourseId]    Script Date: 12/7/2025 1:01:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_CourseId] ON [dbo].[tb_Lessons]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_CreatedBy]    Script Date: 12/7/2025 1:01:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_CreatedBy] ON [dbo].[tb_Lessons]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_IsApproved]    Script Date: 12/7/2025 1:01:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_IsApproved] ON [dbo].[tb_Lessons]
(
	[IsApproved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_Blogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tb_Blogs] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[tb_Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tb_Courses] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[tb_Courses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tb_Courses] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[tb_Courses] ADD  DEFAULT ((2)) FOR [FreeLessonCount]
GO
ALTER TABLE [dbo].[tb_ExamReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tb_Exams] ADD  DEFAULT ((0)) FOR [QuestionCount]
GO
ALTER TABLE [dbo].[tb_Exams] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[tb_Exams] ADD  DEFAULT ((0)) FOR [IsPremium]
GO
ALTER TABLE [dbo].[tb_Exams] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tb_Exams] ADD  DEFAULT ((0)) FOR [AvgRating]
GO
ALTER TABLE [dbo].[tb_Exams] ADD  DEFAULT ((0)) FOR [TotalReviews]
GO
ALTER TABLE [dbo].[tb_Exams] ADD  DEFAULT ((1)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[tb_Exams] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[tb_ExamSessions] ADD  DEFAULT (newid()) FOR [SessionToken]
GO
ALTER TABLE [dbo].[tb_ExamSessions] ADD  DEFAULT (getdate()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[tb_ExamSessions] ADD  DEFAULT ('Ongoing') FOR [Status]
GO
ALTER TABLE [dbo].[tb_ExamSessions] ADD  DEFAULT ((0)) FOR [AppliedPenalty]
GO
ALTER TABLE [dbo].[tb_ExamViolations] ADD  DEFAULT (getdate()) FOR [ViolationTime]
GO
ALTER TABLE [dbo].[tb_LessonProgress] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[tb_Lessons] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[tb_Lessons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tb_Lessons] ADD  DEFAULT ((0)) FOR [IsPreview]
GO
ALTER TABLE [dbo].[tb_Menus] ADD  DEFAULT ((0)) FOR [Order]
GO
ALTER TABLE [dbo].[tb_Menus] ADD  DEFAULT ('Header') FOR [Location]
GO
ALTER TABLE [dbo].[tb_Menus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Menus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tb_Payments] ADD  DEFAULT ('VND') FOR [Currency]
GO
ALTER TABLE [dbo].[tb_Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tb_Questions] ADD  DEFAULT ((1)) FOR [Marks]
GO
ALTER TABLE [dbo].[tb_UserPurchases] ADD  DEFAULT (getdate()) FOR [PurchasedAt]
GO
ALTER TABLE [dbo].[tb_Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[tb_Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tb_UserSubscriptions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_UserXP] ADD  DEFAULT ((0)) FOR [XP]
GO
ALTER TABLE [dbo].[tb_UserXP] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[tb_Blogs]  WITH CHECK ADD FOREIGN KEY([AuthorId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_Courses] CHECK CONSTRAINT [FK_Courses_CreatedBy]
GO
ALTER TABLE [dbo].[tb_ExamResultDetails]  WITH CHECK ADD FOREIGN KEY([ExamResultId])
REFERENCES [dbo].[tb_ExamResults] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_ExamResultDetails]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[tb_Questions] ([Id])
GO
ALTER TABLE [dbo].[tb_ExamResults]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[tb_Exams] ([Id])
GO
ALTER TABLE [dbo].[tb_ExamResults]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[tb_ExamSessions] ([Id])
GO
ALTER TABLE [dbo].[tb_ExamResults]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_ExamReviews]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[tb_Exams] ([Id])
GO
ALTER TABLE [dbo].[tb_ExamReviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_Exams]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[tb_Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_Exams] CHECK CONSTRAINT [FK_Exams_ApprovedBy]
GO
ALTER TABLE [dbo].[tb_Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_Exams] CHECK CONSTRAINT [FK_Exams_CreatedBy]
GO
ALTER TABLE [dbo].[tb_ExamSessions]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[tb_Exams] ([Id])
GO
ALTER TABLE [dbo].[tb_ExamSessions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_ExamViolations]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[tb_ExamSessions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_LessonProgress]  WITH CHECK ADD FOREIGN KEY([LessonId])
REFERENCES [dbo].[tb_Lessons] ([Id])
GO
ALTER TABLE [dbo].[tb_LessonProgress]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_LessonProgress]  WITH CHECK ADD  CONSTRAINT [FK_LessonProgress_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[tb_Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_LessonProgress] CHECK CONSTRAINT [FK_LessonProgress_LessonId]
GO
ALTER TABLE [dbo].[tb_LessonProgress]  WITH CHECK ADD  CONSTRAINT [FK_LessonProgress_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_LessonProgress] CHECK CONSTRAINT [FK_LessonProgress_UserId]
GO
ALTER TABLE [dbo].[tb_Lessons]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[tb_Courses] ([Id])
GO
ALTER TABLE [dbo].[tb_Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[tb_Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Lessons] CHECK CONSTRAINT [FK_Lessons_CourseId]
GO
ALTER TABLE [dbo].[tb_Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_Lessons] CHECK CONSTRAINT [FK_Lessons_CreatedBy]
GO
ALTER TABLE [dbo].[tb_Menus]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[tb_Menus] ([Id])
GO
ALTER TABLE [dbo].[tb_Payments]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[tb_Exams] ([Id])
GO
ALTER TABLE [dbo].[tb_Payments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_PenaltyRules]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[tb_Exams] ([Id])
GO
ALTER TABLE [dbo].[tb_Questions]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[tb_Exams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Subjects]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_UserMemberships]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[tb_MembershipPlans] ([Id])
GO
ALTER TABLE [dbo].[tb_UserMemberships]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_UserPurchases]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[tb_Exams] ([Id])
GO
ALTER TABLE [dbo].[tb_UserPurchases]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_UserXP]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_UserXP]  WITH CHECK ADD  CONSTRAINT [FK_UserXP_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_UserXP] CHECK CONSTRAINT [FK_UserXP_UserId]
GO
ALTER TABLE [dbo].[tb_ExamResultDetails]  WITH CHECK ADD CHECK  (([SelectedOption]='D' OR [SelectedOption]='C' OR [SelectedOption]='B' OR [SelectedOption]='A'))
GO
ALTER TABLE [dbo].[tb_ExamReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[tb_Exams]  WITH CHECK ADD CHECK  (([Difficulty]=N'Khó' OR [Difficulty]=N'Trung bình' OR [Difficulty]=N'Dễ'))
GO
ALTER TABLE [dbo].[tb_PenaltyRules]  WITH CHECK ADD CHECK  (([PenaltyPercent]>=(0) AND [PenaltyPercent]<=(100)))
GO
ALTER TABLE [dbo].[tb_Questions]  WITH CHECK ADD CHECK  (([CorrectOption]='D' OR [CorrectOption]='C' OR [CorrectOption]='B' OR [CorrectOption]='A'))
GO
USE [master]
GO
